.container__principal {
    display: grid;
    grid-template-columns: 270px 1fr;
}

.container__principal__menu__fechado {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.seta {
    width: 20px;
}

.container__conteudo-principal {
    height: 100vh;
    overflow: hidden;
 

}

@media (max-width:1024px) {

    .container__conteudo-principal {
        overflow: scroll;
    }
}