.barra-lateral {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--roxo-500);
    height: 95.8vh;
    border-radius: 0 40px 40px 0;
}

.barra-lateral-fechada {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    background-color: var(--roxo-500);
    height: 95.8vh;
    border-radius: 0 40px 40px 0;
}

.icone-hamburguer {
    margin-bottom: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.container__buttons__menu--hamburger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;
}

.container__buttons__menu--hamburger--nao-ativo {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.container__buttons__menu--hamburger div,
.container__buttons__menu--hamburger--nao-ativo div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container__buttons__menu--hamburger::after {
    content: " ";
    position: absolute;
    left: -28.5px;
    width: 8px;
    height: 60px;
    background-color: #fff;
}

.container__buttons__menu__admin {
    margin-right: 2px;
}

.container__buttons__menu-img {
    cursor: pointer;
}

.container__buttons__logout {
    cursor: pointer;
    width: 28px;
    height: 28px;
    margin-left: 74px;
    margin-top: 32px;
}

.container__buttons__menu--hamburger p {
    font-size: 18px;
    color: #fff;
}

.container__administrador__links {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.container__administrador__links p {
    font-size: 18px;
    color: #fff;
}

.logo-overlay {
    position: absolute;
    z-index: 999;
    bottom: 10px;
    left: 120px;
}
