
.container__visualizar {
    width: 95%;
    padding-left: 20px;
    padding-right: 5px;
}

.form__visualizar {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.form__visualizar__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 30%;
}


.form__visualizar__container::after {
    content: "";
    background-image: url(../../assets/Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 15px;
    width: 15px;
    right: 20px;
}

.form__visualizar__input {
    width: 100%;
    padding: 10px;
    border-radius: 18px;
    border: 1px solid var(--cinza);
}

.info__servidores {
    text-align: end;
}

.container__visualizar__content {
    box-sizing: border-box;
    display: flex;
    align-items: start;
    gap: 10px;
}


.form__siltro__select--visualizar {
    width: 70%;
}

.container__buttons--visualizar {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 40px;
    gap: 10px;
}

.container__buttons--visualizar-button {
    cursor: pointer;
    background-color: var(--roxo);
    border-radius: 15px;
    border: none;
    color: var(--branco);
    padding: 10px;
}

.container__buttons--visualizar-button a {
    text-decoration: none;
    color: var(--branco);
}

.card__details {
    width: 95%;
    border-radius: 5px;
    position: relative;
    border: 1px solid var(--cor-borda);
    padding: 15px;
    background: #F5F5F5;

}

.card__details::after {
    content: '';
    background-image: url(../../assets/arrow-down.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 10px;
    top: 40%;
}

.card__details[open]::after {
    content: '';
    background-image: url(../../assets/arrow-up.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 10px;
    top: 40%;
}

.card__summary {
    list-style: none;
}

.card__details__container__button {
    text-align: end;
    padding: 0 40px;
}

.card__details__container__button button {
    margin-right: 10px;
}

.details__verde {
    background-color: var(--verde-claro);
}

.details__amarelo {
    background-color: var(--amarelo-claro);
}

.details__vermelho {
    background-color: var(--vermelho-claro);
}
.details__branco{
    background-color: var(--branco);
}

.card__details__button {
    border: none;
    padding: 8px;
    color: var(--branco);
    border-radius: 8px;
    cursor: pointer;
}

.card__details__historico__button {
    background-color: var(--cinza);

}

.card__details__atualizar__button {
    background-color: var(--laranja);

}

.card__details__arquivar__button {
    background-color: var(--vermelho);

}