.container__visualizar__info {
    width: 70%;
    height: 400px;
}

.card__servidores--visualizar {
    height: 400px;
    border-radius: 10px;
    background-color: var(--cinza);
    width: 100%;
}

.card__container__details {
    overflow-y: scroll;
    height: 400px;
    border-radius: 10px;
    padding: 10px; 
}

