.container__principal {
    display: grid;
    grid-template-columns: 270px 1fr;
}

.container__principal__menu__fechado {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.navigation__list__buttons {
    width: 40%;
}

.navigation__container--button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px ;
}

.container__input--ativo {
    background-color: var(--lilas);
    color: var(--branco);
    font-size: 21px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.container__input--nao-ativo {
    color: var(--lilas);
    background-color: var(--branco);
    font-size: 21px;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.ativo-input {
    width: 50%;
    display: none;
}