.container__form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container__form__titulo__header {
    font-size: 40px;
    font-weight: 100;
    color: var(--branco);
}

.container__form__titulo {
    font-size: 27px;
    color: var(--branco);
    text-align: center;
}

.container__section__form {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.form  {
    width: 450px;
    padding: 24px;
}

.container__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__button__link {
    width: 60%;
}

.form__button {
    width: 100%;
    padding: 11px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--roxo-500);
    color: var(--branco);
    border: none;
}

.form__button:hover {
    transition: .5;
    background-color: var(--roxo-900);
}

.container__input {
    margin-bottom: 16px;
}

.label__form {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 100;
    color: var(--azul-escuro);
}

.input__form {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    padding: 12px;
    border: 1px solid var(--cor-borda);
}