.modal-overlay {
    position: fixed;
    display: grid;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(29, 29, 29, 0.8);
}

.modal-container {
    display: grid;
    justify-content: center;
    gap: 6;
    max-width: max-content;
    background-color: var(--branco);
    border-radius: 8px;
    padding: 24px;
}