.container_form {
    gap: 0px !important;
}

.container_form h3 {
    text-align: center;
}

.container_form div:nth-child(odd) {
    background-color: rgba(19, 57, 96, 0.5);
}

.container_form div:nth-child(even) {
    background-color: rgba(217, 218, 219, 0.5);
}

.container_form h4 {
    border-bottom: 2px solid #7a7a7a;
    padding-bottom: 2px;
}

.content_label {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    padding: 8px;
}

.button_enviar_documento {
    width: 200px;
    align-self: center;
    font-size: 18px;
    margin-top: 20px;
}