.titulo__menu__home {
    text-align: center;
    margin-top: 50px;
}

.container__menu__buttons {
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 800px;
}

.container__menu__buttons button {
    padding: 10px;
    border-radius: 5px;
    background-color: var(--branco);
    opacity: .76;
    border: none;
    color: var(--azul-escuro);
    font-size: 21px;
    font-weight: 600;
}

.container__menu__buttons button a {
    color: var(--azul-escuro);
}