.cabecalho__home{
    background-color: var(--branco);
    color: var(--branco);
    padding: 0 10px;
}

.cabecalho__login{
    text-align: center;
    color: var(--branco);
}

.container__header {
    padding: 5px;
}

.titulo{
    font-size: 30px;
    color: var(--lilas);
}

.titulo__login {
    font-size: 30px;
    text-align: center;
    color: var(--branco);

}
